  
  *,*:after, *:before{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    
  }

.bodyIndex{
  font-family: Helvetica,Sans-serif;
  /* background: url(../img/fond2.jpg); */
  background: radial-gradient(63.94% 1024px at 50% 200px, #244372 0%, #161A1F 100%);
  background-size: contain;


  }

  .bodyAdmin{

    background-color: #ffffff;
  }

  header{
    position: sticky;
    top:0;
    z-index: 5;
  }
  .myNav{
    background: #061433;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 20;
    box-shadow: 0 0 7px 0 rgb(0 0 0 / 75%);
    overflow: hidden;
    padding: 13px 8px;
    /* background: url(../img/fondoNavbar.png);*/
  }
  .liMenu{
    justify-content: flex-end;

  }

  .liCarrito{

     margin-right: 44px;
  }

  .liCarrito a{
    position: relative;
    height: 28px;
    width: 28px;
  }

  .iconCarrito{
    display: flex;
    background: url(../img/carritoicono.png);
    background-size: cover;
    background-position: center;
    font-size: 18px;
    text-align: center;
    height: 28px;
    width: 28px;
    filter: invert(99%) sepia(4%) saturate(306%) hue-rotate(153deg) brightness(118%) contrast(90%);
    
    flex-wrap: wrap;
    flex-direction: column;
  }

  .iconCarrito:hover{
    transition: 0.5s;
    transform: scale(1.1);
  }

  .iconCarrito:active{
    transition: 0.3s;
    transform: scale(0.9);
  }

  .iconNumCarrito{
    position: absolute;
    border-radius: 50%;
    left: 18px;
    bottom: 22px;
    width: 14px;
    text-align: center;
    background-color: rgb(255, 0, 0);
    color: #FFF;
    letter-spacing: 0;
    font-weight: 400;
    font-size: 9px;
    line-height: 14px;
  }

  /*-------------------------------------------------------- Estilo indicador de carga Web */





#contenedor_carga{
    background: rgb(250, 240, 245);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
    z-index: 10000;
    
  }

  #carga{

    border: 15px solid #ccc;
    border-top-color: #1bf069;
    border-top-style: groove;
    height: 90px;
    width: 90px;
    border-radius: 100%;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    -webkit-animation: girar 1.5s linear infinite;
    -o-animation: girar 1.5s linear infinite;
    animation: girar 1.5s linear infinite;
  }

  @keyframes girar {
    from { transform: rotate(0deg) ;}
    to{ transform: rotate(360deg) ;}
  }

/*--------------------------------------------------------------------------*/

.principalTotal{
  margin-left: 170px;
  margin-right: 190px;
}

.SeccionBarraBusqueda{
  display: flex;
  align-items: center;
  background: radial-gradient(63.94% 1024px at 50% 200px, #203f6e63 0%, #181d23 100%);
  justify-content: space-between;
  padding-left: 14px;

}
.SeccionBarraBusqueda h1{
  font-family: "Motiva Sans", Sans-serif;
  color: #b8b6b4;
  letter-spacing: 1px;
  font-size: 1.2rem;
}
.ContenedorBarraBusqueda{
  width: 50%;
  padding-right: 10px;


} 

.menuYSeccion{
  display: flex;
  
}

  .seccionCatalogo{
    width: 100%;
    background: radial-gradient(63.94% 1024px at 50% 200px, #203f6e63 0%, #181d23 100%);
  }
.tituloCategorias{
  
  padding-top: 41px;
  padding-bottom: 7px;
  margin-bottom: 23px;
  /* margin-left: 10px; */
  margin-right: 10px;
  font-size: 0.81rem;
  font-family: "Motiva Sans", Sans-serif;
  text-align: center;
  border-bottom: 1px solid #3f7696;
  letter-spacing: 1px;

}
  .catalogoContenedor{
    display: flex;
    justify-content:space-around;
    flex-wrap:wrap;
  }

 
.notFoundGame h2{
  color:#c6d4df;
}
  .tituloPrincipal{
    display: flex;
    align-items: center;
  }

  .tituloPrincipal:hover{
    transition: 0.5s;
    transform: scale(1.2);
  }

  .tituloPrincipal:active{
    transition: 0.5s;
    transform: scale(0.9);
  }

  h1{
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 1.3rem;
    margin: 0;
  }

  .imgPrincipal{
    width: 60px;
    height: 36px;
  }

  
  .tarjeta{
    width: 17.5rem;
    margin-top: 20px;
    background-color: #1b2838;
  }



  .tarjeta h2{
    font-size: inherit;
    font-size: 1.5rem;
    font-weight: 400;
    color: #ffffff;
    text-align: center;
    padding-bottom: 2px;
    
    
  }

  .tarjeta h4{
    color:#9099a1;
    font-size: 1rem;
    
  }

  .imgCard{
    background-color: none;
  
  }
  .imgCard:hover{
    transition: 0.5s;
    transform: scale(1.05);
  }

  .precioCard{
    color:#acdbf5;
    text-align: center;
    padding-top: 5px;
    font-size: inherit;
  }

  .informacionTarjeta{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .notFoundGame{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .tituloNovedades{
  font-family: "Motiva Sans", Sans-serif;
  font-weight: 300;
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
  margin: 0 0 10px;
  letter-spacing: 0.03em;
  font-weight: normal;
  padding-top: 2px;
}

  .carruselNovedades{
    margin-bottom: 50px;
    margin-left: 168px;
    margin-right: 187px;
    margin-top: 100px;
  }



  /*--------------------------FILTRO---------------------------------*/

  .formularioGeneradorJuego{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }

  .menuCatalogo{
    background: radial-gradient(63.94% 1024px at 50% 200px, #1d3e6e45 0%, #171f29 100%);
    color: #c6d4df;
    width: 177px;
    padding-left: 10px;
  }

  .menuCatalogo ul{
    
    padding: 0;
    
  }

  .liFiltro{
    border-bottom: 1px solid #808080e0;
    list-style: none;
    margin-top: 5px;
    
  }

  .liFiltro ul{
    list-style: none;
  }

  .liFiltro ul li div{
    color:rgb(102, 192, 244);
    font-size: 0.81rem;
    font-family: "Motiva Sans", Sans-serif;
  }

  .liFiltro ul li div:hover{
    transition: 0.5s;
    color:white;
  }

  .TitulosFiltros{
    display: flex;
    justify-content: space-between;
    color:#c6d4df;
  }

  .TitulosFiltros:hover{
    transition: 0.5s;
    color: white;
  }

  .TitulosFiltros h2{
    
    font-size: 0.81rem;
    font-family: "Motiva Sans", Sans-serif;
  }

  .seccionFiltro{
    overflow: hidden;
    max-height: 0px;
    transition:all 0.5s ease-in-out;
    opacity: 0;
    
  }
   /*Me permite animar el filtro para que se expanda y se contraiga*/
  .desocultar_toggle{
   
    max-height: 300px;
    opacity: 100;
    transition:all 1s ease-in-out;
  }

  .desocultar_toggle li:hover{
    transition: 0.5s;
    color:rgb(255, 255, 255);
  }

  .flechaUp{
    height: 50%;
  }

  .flechaUp:hover{
    transition: ease .5s;
    background: #8a8a8a5e;
    border-radius: 100%;
    height: 50%;
    
  }
  .giroFlecha_toggle{
    transform: rotate(180deg);
    transition: ease .5s;
  }


  .giroFlecha_toggle:hover{
    background: #8a8a8a5e;
    border-radius: 100%;
    height: 50%;

  }



  


  /*-----------------------------BOTONES DOM-----------------------------*/




  .btn{
    border-radius: 2px;
    display: flex;
    justify-content: center;
    background: #6fa720;
    background: -webkit-linear-gradient( top, #6fa720 5%, #588a1b 95%);
    background: linear-gradient( to bottom, #6fa720 5%, #588a1b 95%);
    background: linear-gradient( to right, #75b022 5%, #588a1b 95%);
    border:#1b2838 ;
    margin-bottom: 4px;
    color:#d2efa9;
    
  }


 
.btnAgregar:hover{
  transition: 0.5s;
  
  color:#FFF!important;
  
  box-shadow: 0px -1px 25px -13px rgba(255,255,255,0.75);
-webkit-box-shadow: 0px -1px 25px -13px rgba(255,255,255,0.75);
-moz-box-shadow: 0px -1px 25px -13px rgba(255,255,255,0.75);

}

.btnAgregar:active{
  transition: 0.3s;
  transform: scale(0.9);
}


  .iconBtnCarrito{
    display: flex;
    background: url(../img/carritoicono.png);
    background-size: cover;
    background-position: center;
    font-size: 18px;
    text-align: center;
    height: 20px;
    width: 20px;
    margin-left: 5px;
    filter: invert(99%) sepia(4%) saturate(306%) hue-rotate(153deg) brightness(118%) contrast(90%);
    
    flex-wrap: wrap;
    flex-direction: column;
  }



 


  /*-------------------------------------CARRITO PAGINA---------------*/

  .SeccionCarritoHTML{
  
    display: flex;
      justify-content: space-around;
      padding-top: 50px;
  }

  .cardTotal{
    padding-top: 105px;
  }

  .boxCardTotal{
    border: 1px solid gray;
    padding: 10px;
    width: 15rem;
  }
    

  .tablaCarrito{
    width: 100%;

  }

  .tablaCarrito thead tr{

    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-left: 13px;

  }

  .product-img{
    width: 95px;
  }

  .juegoEnCarritoContenedor{
  
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #E6E6E6;
  }

  .juegoEnCarritoContenedor td{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    padding: 10px;
}

.nombreJuegoCarrito{
  font-size: 1rem;
}

.btnSu{
  padding: 0 5px;
  min-width: 25px;
  height: 37px;
  border: 1px solid #3939394a;
  border-radius: 0% 38% 38% 0%;
  background: transparent;
  box-shadow: none;
  color: #777;
}

.btnSu:hover{
  transition: 0.3s;
  background-color: rgb(219 51 51);
  border-color: rgb(219 51 51);
  color:#FFF;
}

.cantidadCarrito{
  display: flex;
  border: 1px solid #3939394a;
  width: 29px;
  height: 37px;
  align-items: center;
  justify-content: center;
  margin: 0;
  font-size: 1rem;
  color: #777;
}

.btnRe{
  padding: 0 5px;
  min-width: 25px;
  border: 1px solid #3939394a;
  height: 37px;
  border-radius: 38% 0% 0% 38%;
  background: transparent;
  box-shadow: none;
  color: #777;

}

.btnRe:hover{
  transition: 0.3s;
  background-color: rgb(219 51 51);
  border-color: rgb(219 51 51);
  color:#FFF;
}

.precioCarrito{
  font-size: 1.1rem;
  color: #777;
}
.subTotalCarrito{
  font-size: 1.1rem;
  font-weight: 600;
  color: rgb(218 49 49);
}

.contenedorLimpiarCarrito{
  text-align: center;
  width: auto;
  height: auto;
  padding-top: 14px;
}

.limpiarCarrito{
  color: #FFF;
  background-color: rgb(17 59 187);
  width: 135px;
  height: 46px;
  text-align: center;
  border-radius: 26px;
  border: none;
}

.limpiarCarrito:hover{
  transition: 0.5s;
  background-color: #588a1b;
}

.limpiarCarrito:active{
  transition: 0.3s;
  transform: scale(0.9);
}

.tableTotalCar{
  width: 100%;
}

.tbodyTotalCar{
display: flex;
width: 100%;
flex-direction: column;
align-items: flex-start;
}

.trTotalCar{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 7px;
  }

  .precioTotal{
    font-weight: 600;
    font-size: 1.2rem;
    color: rgb(218 49 49);
  }

  .TituloTotalCarrito{
    font-size: 1.4rem;
    line-height: 1.4;
    color:#212121;
  }

  .SeccionBtnCompra{
    text-align: center;
    margin-top: 20px;
  }


