@import url("https://fonts.googleapis.com/css2?family=Metal+Mania&family=Rammetto+One&family=Stick+No+Bills:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Metal+Mania&family=Poppins:wght@300&family=Rammetto+One&family=Stick+No+Bills:wght@300&display=swap");

@font-face {
  font-family: "Motiva Sans";
  src: url('/font/MotivaSansThin.ttf') format('truetype'); 
  font-weight: normal;
  font-style: normal;
}
*,*:after,*:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.bodyIndex {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Helvetica, Sans-serif;
  /* background: url(../img/fond2.jpg); */
  background: radial-gradient(63.94% 1024px at 50% 200px,
      #244372 0%,
      #161a1f 100%);
  background-size: contain;
}

.bodyAdmin {
  background-color: #ffffff;
}

header {
  position: sticky;
  top: 0;
  z-index: 5;
}


main{
  width: 100%;
}

.content-main-full{
  position: relative;
  bottom: 50px;
  padding-left: 7%;
}

.imgfull{
  margin-top: 74px;
  width: 100%;
  height: 400px;
  background-image: url(../img/imgfull.jpg);
}



.myNav {
  width: 100%;
  background: #061433;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  font-family: "Motiva Sans", Sans-serif;
  text-align: center;
  z-index: 20;
  box-shadow: 0 0 7px 0 rgb(0 0 0 / 75%);
  overflow: hidden;
  padding: 13px 8px;
  /* background: url(../img/fondoNavbar.png);*/
}

.liMenu {
  justify-content: flex-end;
}

.liCarrito {
  margin-right: 44px;
}

.liCarrito a {
  position: relative;
  height: 28px;
  width: 28px;
}

.iconCarrito {
  display: flex;
  background: url(../img/carritoicono.png);
  background-size: cover;
  background-position: center;
  font-size: 18px;
  text-align: center;
  height: 28px;
  width: 28px;
  filter: invert(99%) sepia(4%) saturate(306%) hue-rotate(153deg) brightness(118%) contrast(90%);

  flex-wrap: wrap;
  flex-direction: column;
}

.iconCarrito:hover {
  transition: 0.5s;
  transform: scale(1.1);
}

.iconCarrito:active {
  transition: 0.3s;
  transform: scale(0.9);
}

.iconNumCarrito {
  position: absolute;
  border-radius: 50%;
  left: 18px;
  bottom: 22px;
  width: 14px;
  text-align: center;
  background-color: rgb(255, 0, 0);
  color: #fff;
  letter-spacing: 0;
  font-weight: 400;
  font-size: 9px;
  
}

/*-----------------------------------button desplazador*/
.desplazador {
  position: fixed;
  display: flex;
  cursor: pointer;
  right: 1.2rem;
  margin-top: 10px;
  bottom: 100px;
}

.desplazador a {
  text-decoration: none;
  list-style: none;
  color: white;
  position: absolute;
  display: flex;
  cursor: pointer;
  right: 1.2rem;
  width: 3rem;
  height: 3rem;
  border-radius: 50px;
  background: linear-gradient(24deg, #1a2b42, #233e68);
  align-content: stretch;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.desplazador a:hover {
  transition: 0.5s;
  transform: scale(1.1);
}

.desplazador a:active {
  transition: 0.2s;
  transform: scale(0.8);
}

/*-------------------------------------------------------- Estilo indicador de carga Web */

#contenedor_carga {
  background: radial-gradient(63.94% 1024px at 50% 200px,
      #244372 0%,
      #161a1f 100%);
  background-size: contain;
  width: 100%;
  height: 100%;
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  z-index: 1000;
  top: 0;
}

#carga {
  border: 15px solid #ccc;
  border-top-color: #1bf069;
  border-top-style: groove;
  height: 90px;
  width: 90px;
  border-radius: 100%;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  -webkit-animation: girar 1.5s linear infinite;
  -o-animation: girar 1.5s linear infinite;
  animation: girar 1.5s linear infinite;
}

@keyframes girar {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------------------*/

/*----------------------------SLIDER-------------------------------*/

.carousel-inner{
box-shadow: 0 0 7px 0px #000;
}

.carousel-indicators {
  margin-bottom: -1.9rem;
}

.carousel-control-prev {
  left: -10%;
}

.carousel-control-next {
  right: -10%;
}

.carousel-control-next-icon{
  width: 100%;
}

.carousel-control-prev-icon {
  width: 100%;
}

.carousel-control-next {
  display: flex;
    height: 20%;
    width: 4%;
    text-align: center;
    top: 38%;
    right: -4%;
    background: linear-gradient( to right, rgba( 0, 0, 0, 0) 5%,rgba( 0, 0, 0, 0.3) 95%);
    justify-content: flex-end;}


  .carousel-control-prev {
   
    display: flex;
    height: 20%;
    width: 4%;
    text-align: center;
    top: 38%;
    left: -4%;
    background: linear-gradient( to left, rgba( 0, 0, 0, 0) 5%,rgba( 0, 0, 0, 0.3) 95%);
    justify-content: flex-end;}


    .carousel-indicators [data-bs-target] {
   
      width: 16px;
      height: 11px;
      border-radius: 43%;
      background-color: hsl(0deg 0% 100% / 54%);
    }

/*--------------------------------------------------------------------------*/

.principalTotal {
  width: 1100px;

}

.SeccionBarraBusqueda {
  display: flex;
  align-items: flex-start;
  background: radial-gradient(63.94% 1024px at 50% 200px, #203f6e63 0%, #181d23 100%);
  justify-content: space-between;
  padding-left: 14px;
}

.SeccionBarraBusqueda h2 {
  font-family: "Motiva Sans", Sans-serif;
  color: #b8b6b4;
  padding-top: 13px;
  letter-spacing: 1px;
  font-size: 1.2rem;
}

.ContenedorBarraBusqueda {
  width: 50%;
  padding-top: 10px;
  padding-right: 10px;
}

.menuYSeccion {
  display: flex;
}

.seccionCatalogo {
  width: 100%;
  background: radial-gradient(63.94% 1024px at 50% 200px,
      #203f6e63 0%,
      #181d23 100%);
}

.tituloCategorias {
  padding-top: 41px;
  padding-bottom: 7px;
  margin-bottom: 23px;
  /* margin-left: 10px; */
  margin-right: 10px;
  font-size: 0.81rem;
  font-family: "Motiva Sans", Sans-serif;
  text-align: center;
  border-bottom: 1px solid #3f7696;
  letter-spacing: 1px;
}

.catalogoContenedor {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.notFoundGame h2 {
  color: #c6d4df;
}

.tituloPrincipal {
  display: flex;
  align-items: center;
}

.tituloPrincipal:hover {
  transition: 0.5s;
  transform: scale(1.2);
}

.tituloPrincipal:active {
  transition: 0.5s;
  transform: scale(0.9);
}

h1 {
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 1.5rem;
  margin: 0;
  padding-top: 3px;
  margin-left: 5px;
  letter-spacing: 1px;
  font-family: "Stick No Bills", sans-serif;
}

.imgPrincipal {
  width: 45px;
  height: 34px;
}

.tarjeta {
  width: 16.5rem;
    margin-top: 20px;
    margin-left: 25px;
    background-color: #1b2838;
    box-shadow: 0 0 2px 0px #000;
}

.tarjeta h2 {
  font-size: inherit;
  font-size: 1.3rem;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
  padding-bottom: 2px;
}

.tarjeta h4 {
  color: #9099a1;
  font-size: 0.9rem;
}

.imgCard {
  background-color: none;
}

.imgCard:hover {
  transition: 0.5s;
  transform: scale(1.05);
}

.pDescripcionGame {
  text-align: justify;
  width: 100%;
}

.btnDescripcionGame {
  border: 0;
  background-color: #0093ddb3;
  color: #fff;
  font-size: 1em;
  border-radius: 2.25em;
  margin: 0.3125em;
  padding: 0.625em 1.1em;
  transition: box-shadow 0.1s;
  box-shadow: 0 0 0 3px rgb(0 0 0 / 0%);
  font-weight: 500;
}

.btnDescripcionGame:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
}

.btnDescripcionGame:active {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
}

.btnDescripcionGame:focus-visible {
  outline: none;
}

.precioCard {
  color: #BEEE11;
  text-align: center;
  padding-top: 5px;
  /* margin-left: 25px; */
  /* margin-right: 25px; */
  background-color: #344654;
  font-size: inherit;

}

.informacionTarjeta {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.notFoundGame {
  width: 100%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tituloNovedades {
  font-family: "Motiva Sans", Sans-serif;
  font-weight: 300;
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
  margin: 0 0 10px;
  letter-spacing: 0.03em;
  font-weight: normal;
  padding-top: 2px;
}

.carruselNovedades {
  margin-bottom: 50px;
  width: 1100px;
  margin-top: 100px;
}

/*--------------------------FILTRO---------------------------------*/

.formularioGeneradorJuego {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 95px;
}

.menuCatalogo {
  background: radial-gradient(63.94% 1024px at 50% 200px, #1d3e6e45 0%, #171f29 100%);
  color: #c6d4df;
  width: 263px;
  padding-left: 10px;
  font-size: 12px;
  font-family: "Motiva Sans", Sans-serif;
}

.menuCatalogo ul {
  padding: 0;
  padding-right: 10px;
  padding-left: 5px;
}

.liFiltro {
  /* border-bottom: 1px solid #808080e0; */
  list-style: none;
  margin-top: 5px;
}

.liFiltro ul {
  list-style: none;
}

.liFiltro ul li div {
  font-size: 0.81rem;
  font-family: "Motiva Sans", Sans-serif;
  display: block;
  width: fit-content;
  color: #7A8B9D;
  font-weight: 600;
}


.liFiltro ul li div:hover {
  transition: 0.5s;
  color: #66c0f4;
}

.TitulosFiltros {
  display: flex;
  margin-top: 8px;
  font-size: 12px;
  justify-content: space-between;
  color: #536f86
}

.TitulosFiltros:hover {
  transition: 0.5s;
  color: white;
}

.TitulosFiltros h2 {
  font-size: 0.81rem;
  font-family: "Motiva Sans", Sans-serif;
  ;
  font-weight: 700;
}

.seccionFiltro {
  overflow: hidden;
  max-height: 0px;
  transition: all 0.5s ease-in-out;
  opacity: 0;
}

/*Me permite animar el filtro para que se expanda y se contraiga*/
.desocultar_toggle {
  max-height: 300px;
  opacity: 100;
  transition: all 1s ease-in-out;
}

.desocultar_toggle li:hover {
  transition: 0.5s;
  color: rgb(255, 255, 255);
}

.flechaUp {
  height: 50%;
}

.flechaUp:hover {
  transition: ease 0.5s;
  background: #8a8a8a5e;
  border-radius: 100%;
  height: 50%;
}

.giroFlecha_toggle {
  transform: rotate(180deg);
  transition: ease 0.5s;
}

.giroFlecha_toggle:hover {
  background: #8a8a8a5e;
  border-radius: 100%;
  height: 50%;
}

/*-----------------------------BOTONES DOM-----------------------------*/

.btn {
  border-radius: 5px;
  display: flex;
  justify-content: center;
  background-image: radial-gradient(circle at top left, #85a805 10%, #6a8704 80%);
  border: #1b2838;
  margin-bottom: 4px;
  color: #d0dfeb;
}

.btnAgregar:hover {
  transition: 0.5s;

  color: #fff !important;

  box-shadow: 0px -1px 25px -13px rgba(255, 255, 255, 0.75);
  -webkit-box-shadow: 0px -1px 25px -13px rgba(255, 255, 255, 0.75);
  -moz-box-shadow: 0px -1px 25px -13px rgba(255, 255, 255, 0.75);
}

.btnAgregar:active {
  transition: 0.3s;
  transform: scale(0.9);
}

.iconBtnCarrito {
  display: flex;
  background: url(../img/carritoicono.png);
  background-size: cover;
  background-position: center;
  font-size: 18px;
  text-align: center;
  height: 20px;
  width: 20px;
  margin-left: 5px;
  filter: invert(99%) sepia(4%) saturate(306%) hue-rotate(153deg) brightness(118%) contrast(90%);
  flex-wrap: wrap;
  flex-direction: column;
}

/*-------------------------------------CARRITO PAGINA---------------*/

.SeccionCarritoHTML {
  display: flex;
  justify-content: space-around;
  padding-top: 50px;
  flex-wrap: wrap;
}

.cardTotal {
  padding-top: 52px;
}

.boxCardTotal {
  border: 3px solid #efefef;
  padding: 21px;
  width: 25rem;
  margin-top: 78px;
}

.boxCardTotalOrden {
  border: 3px solid #efefef;
  padding: 21px;
  width: 35rem;
  margin-top: 78px;
}

.tituloOrden {
  font-size: 1.4rem;
  line-height: 1.4;
  color: #212121;
  text-align: center;
}

.tablaCarrito {
  width: 100%;
  margin-top: 87px;
}

.tablaCarrito thead tr {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-left: 13px;
}

.product-img {
  width: 95px;
}

.juegoEnCarritoContenedor {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #e6e6e6;
}

.juegoEnCarritoContenedor td {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  padding: 10px;
}

.nombreJuegoCarrito {
  font-size: 1rem;
  text-align: center;
}

.btnSu {
  padding: 0 5px;
  min-width: 25px;
  height: 37px;
  border: 1px solid #3939394a;
  border-radius: 0% 38% 38% 0%;
  background: transparent;
  box-shadow: none;
  color: #777;
}

.btnSu:hover {
  transition: 0.3s;
  background-color: rgb(219 51 51);
  border-color: rgb(219 51 51);
  color: #fff;
}

.cantidadCarrito {
  display: flex;
  border: 1px solid #3939394a;
  width: 29px;
  height: 37px;
  align-items: center;
  justify-content: center;
  margin: 0;
  font-size: 1rem;
  color: #777;
}

.btnRe {
  padding: 0 5px;
  min-width: 25px;
  border: 1px solid #3939394a;
  height: 37px;
  border-radius: 38% 0% 0% 38%;
  background: transparent;
  box-shadow: none;
  color: #777;
}

.btnRe:hover {
  transition: 0.3s;
  background-color: rgb(219 51 51);
  border-color: rgb(219 51 51);
  color: #fff;
}

.tachoBasuraCarrito:hover {
  transition: 0.5s;
  transform: scale(1.2);
}

.precioCarrito {
  font-size: 1.1rem;
  color: #777;
}

.subTotalCarrito {
  font-size: 1.1rem;
  font-weight: 600;
  color: rgb(218 49 49);
}

.contenedorLimpiarCarrito {
  text-align: center;
  width: auto;
  height: auto;
  padding-top: 14px;
  margin-bottom: 20px;
}

.limpiarCarrito {
  color: #fff;
  background-color: rgb(17 59 187);
  width: 135px;
  height: 46px;
  text-align: center;
  border-radius: 26px;
  border: none;
}

.limpiarCarrito:hover {
  transition: 0.5s;
  background-color: #588a1b;
}

.limpiarCarrito:active {
  transition: 0.3s;
  transform: scale(0.9);
}

.seguirComprando{
  color: #fff;
  background-color: rgb(17 59 187);
  width: 141px;
  height: 46px;
  text-align: center;
  border-radius: 26px;
  border: none;
  font-style: none;
  list-style: none;
}

.seguirComprando a{

  text-decoration: none;
  color: #fff;
  padding-top: 9px;
  padding-bottom: 9px;
}

.seguirComprando:hover{
  transition: 0.5s;
  background-color: #588a1b;
}
.seguirComprando:active{
  transition: 0.3s;
  transform: scale(0.9);
}

.tableTotalCar {
  width: 100%;
}

.tbodyTotalCar {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

.trTotalCar {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 25px;
  padding-bottom: 15px;
  border-bottom: 1px solid #e6e6e6;
}

.trTotal {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 17px;
  padding-bottom: 8px;
  font-size: 1.1rem;
}

.precioTotal {
  font-weight: 600;
  font-size: 1.2rem;
  color: rgb(218 49 49);
}

.TituloTotalCarrito {
  font-size: 1.4rem;
  line-height: 1.4;
  color: #212121;
  font-weight: 700;
}

.SeccionBtnCompra {
  text-align: center;
  margin-top: 20px;
}

.btnCompra {
  color: #fff;
  background-color: rgb(17 59 187);
  width: 135px;
  height: 46px;
  text-align: center;
  border-radius: 26px;
  border: none;
}

.btnCompra a {
  text-decoration: none;
  color: #fff;
  padding-top: 9px;
  padding-bottom: 9px;
}

.btnCompra:hover {
  transition: 0.5s;
  background-color: #588a1b;
}

.btnCompra:active {
  transition: 0.3s;
  transform: scale(0.9);
}

.SeccionCompraHTML {
  display: flex;
  padding-top: 50px;
  margin-bottom: 20px;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
}

.tablaCompraHead {
  margin-top: 78px;
}

.tablaCompraHead thead tr th {
  padding-left: 20px;
}

.tBodyCompra td {
  padding-left: 25px;
}

.cantidadCarritoConfirm {
  text-align: center;
  font-size: 1.1rem;
}

/*-----------------------TARJETA DE CREDITO */

.contenedorTarjeta {
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 27px;
}

.cred {
  position: relative;
  width: 508px;
  height: 314px;
  transform-style: preserve-3d;
  perspective: 500px;
  z-index: 2;
}

.cred .face {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 15px 15px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  background: linear-gradient(337deg, rgb(84 56 110), #000d2ee0);
  backdrop-filter: blur(28px);
  transform-style: preserve-3d;
  transition: 1s;
  backface-visibility: hidden;
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  border-left: 1px solid rgba(255, 255, 255, 0.4);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.textBoxCard {
  margin: 0;
  font-family: "Poppins", sans-serif;
  border: none;
  background: none;
}

.cred .face.back {
  transform: rotateY(180deg);
}

.cred .face.front::before {
  content: "";
  position: absolute;
  bottom: 40px;
  right: 40px;
  width: 60px;
  height: 60px;
  background: #fff;
  border-radius: 50%;
  opacity: 0.5;
}

.cred .face.front::after {
  content: "";
  position: absolute;
  bottom: 40px;
  right: 80px;
  width: 60px;
  height: 60px;
  background: #fff;
  border-radius: 50%;
  opacity: 0.7;
}

.cred .face.front .debit {
  position: absolute;
  left: 40px;
  top: 30px;
  color: #fff;
  font-weight: 500;
}

.cred .face.front .bank {
  color: #fff;
  font-weight: 500;
  font-style: italic;
  font-size: 24px;
}

.cred .face.front .chip {
  position: absolute;
  top: 80px;
  left: 50px;
  max-width: 64px;
}

.cred .face.front .number {
  position: absolute;
  bottom: 130px;
  left: 40px;
  font-weight: 500;
  letter-spacing: 6px;
  font-size: 18px;
  text-shadow: 0 2px 1px #0005;
  font-family: "Orbitron", sans-serif;
  color: gray;
}

.cred .face.front .valid {
  position: absolute;
  bottom: 90px;
  left: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: 300;
  line-height: 1em;
  text-align: right;
}

.cred .face.front .valid span:last-child {
  margin-left: 20px;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 2px;
}

.cred .face.front .cred-holder {
  position: absolute;
  bottom: 40px;
  left: 40px;
  color: #fff;
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.bancCard {
  position: absolute;
  right: 0px;
  top: 26px;
  width: 186px;
  font-weight: 500;
  letter-spacing: 6px;
  text-shadow: 0 2px 1px #0005;
  font-family: "Orbitron", sans-serif;
  color: gray;
}

.numTarjCard {
  font-weight: 500;
  letter-spacing: 6px;
  font-size: 18px;
  text-shadow: 0 2px 1px #0005;
  font-family: "Orbitron", sans-serif;
  color: gray;
}

.ValidCard {
  font-weight: 500;
  letter-spacing: 6px;
  font-size: 15px;
  text-shadow: 0 2px 1px #0005;
  font-family: "Orbitron", sans-serif;
  color: gray;
  margin-left: 16px;
  width: 66px;
}

.nombApCard {
  font-weight: 500;
  letter-spacing: 6px;
  font-size: 15px;
  text-shadow: 0 2px 1px #0005;
  font-family: "Orbitron", sans-serif;
  color: gray;
  width: 15rem;
}

.btnConfirm {
  color: #fff;
  background-color: rgb(17 59 187);
  width: 150px;
  height: 46px;
  text-align: center;
  border-radius: 26px;
  border: none;
}

.btnConfirm:hover {
  transition: 0.5s;
  background-color: #588a1b;
}

.btnConfirm:active {
  transition: 0.3s;
  transform: scale(0.9);
}

.seccionDatos {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 22px;
  margin-bottom: 30px;
}

/*---------COMPRA EXITOSA SWEET ALERT */

.CompraExitosaSweet {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.CompraExitosaSweet h2 {
  margin-bottom: 1.3rem;
}

.CompraExitosaSweet h3 {
  font-size: 1.3rem;
  color: #6b9d50;
}

.bolsaTienda {
  width: 20%;
}


@media (min-width:200px) and (max-width: 991px) and (min-height: 240px) {


  .navbar-nav {
    align-items: flex-start;
    margin-top: 20px;
}
.carruselNovedades {
  
  margin-left: 15%;
  margin-right: 15%;
}

.principalTotal {
  margin-left: 0;
  margin-right: 0;
}

.desplazador a {
 right: -0.8rem;

}

.SeccionCarritoHTML {
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;}


.SeccionCompraHTML {

  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;

}

}

/* Estilo del scroll */
::-webkit-scrollbar {
  width: 12px;
  background-color: #171a21;
}

/* Estilo del thumb (barra deslizadora) */
::-webkit-scrollbar-thumb {
  background-color: #4b525f;
  border-radius: 10px;
  border: 3px solid #171a21;
}

/* Estilo del thumb cuando está en hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #6c7584;
}

/* Estilo del track */
::-webkit-scrollbar-track {
  background-color: #171a21;
}